body {
    font-family: 'Reem Kufi', sans-serif;
    
}

.searchButton {
    padding-top: 5px;
}

.modal-dialog {
    width: 90%;
    height: 90%;
    padding: 0px;
  }
  
  .modal-content {
    height: 100%;
  }

.carousel-caption {
    color: white; 
    font-size: 20px;
    line-height: 1.5;
    padding-top: 0.8rem;
    padding-bottom: 0.1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.siteNavMenu ul h1{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: space-between;
}

.navbar {
    background-color: #ffffff;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3fb0ac;
    text-decoration: none;
}

.navbar-light .navbar-brand:hover {
    color: #3fb0ac;
    text-decoration: none;
}

.navbar-brand{
    color: #000000;
}

.navbar-brand:hover{
    color: #57BA98;
    text-decoration: underline; 
}

.navbar-item:hover { 
    text-decoration: underline; 
}

.nav-link { 
    color: #000000;
}

.nav-link:hover {
    color: #57BA98;
    text-decoration: underline; 
}

.btn {
    background-color: #ffffff;
    border: none;
}

.btn:hover {
    background-color: #ffffff;
    border: none;
}

.fa-search {
    color: #000000;
}

.sm-ic {
    color: #000000;
    text-align: center;
}

/* set mobile carousel container height to 300px for all images inside */
.carousel-inner {
    max-height: 200;
    height:200;
}

/* set styles for devices > 768 */
@media screen and (min-width:768px) {
    /*carousel container height to 300px for all images inside */
    .carousel-inner {
        max-height: 400px;
    }
}
/* set desktop styles for devices > 992 */
@media screen and (min-width:992px) {
    /*carousel container height to 80% of browser height for all images inside */
    .carousel-inner {
        min-height: 80vh;
    }
}

.sm-ic:hover {
    color: #3fb0ac;
    text-align: center;
}
