body {
    font-family: 'Reem Kufi', sans-serif;
    
}

.lightboxImg {
    color: #000000!important;
}

.lightboxImg:hover {
    color: #3fb0ac!important;
    text-decoration: underline;
}

/* Navigation  */

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #3fb0ac;
    text-decoration: none;
}
.active-nav a {
    color: #3fb0ac!important;
    text-decoration: underline;
}

.navbar-light .navbar-brand:hover {
    color: #3fb0ac;
    text-decoration: none;
}

/* Search and modal */
.searchButton {
    padding-top: 5px;
}

#searchButton {
    background-color: #3fb0ac;
    color: #ffffff;
}

#searchButton:hover {
    background-color: #ddd;
    color: #ffffff;
}

.modal-dialog {
    width: 50%;
    height: 50%;
    padding: 0px;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
   }
   input:focus:-moz-placeholder {
    color: transparent;
   }
   
   textarea:focus:-moz-placeholder {
    color: transparent;
   }
   textarea:focus::-webkit-input-placeholder {
    color: transparent;
   }

/* Weather */
.currentWeather h1 {
    font-size:0.5em!important;
}

.currentWeather .w-icon {
    width: 3rem!important;
    height: 3rem!important;
}

.weather {
    max-width:448px;
}

/* Image carousel */
.carousel-caption-top {
    font-size: 20px;
}

/* set mobile carousel container height to 300px for all images inside */
.carousel-inner {
    max-height: 200;
    height:200;
}

/* set styles for devices > 768 */
@media screen and (min-width:768px) {
    /*carousel container height to 300px for all images inside */
    .carousel-inner {
        max-height: 400px;
    }
}
/* set desktop styles for devices > 992 */
@media screen and (min-width:992px) {
    /*carousel container height to 80% of browser height for all images inside */
    .carousel-inner {
        min-height: 80vh;
    }
}

/* social media icons in footer*/
.sm-ic {
    color: #000000;
    text-align: center;
}

.sm-ic:hover {
    color: #3fb0ac;
    text-align: center;
}

/* filterable portfolio */
* {
    box-sizing: border-box;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /*Hide columns by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add background colour on hover*/
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background colour to the active button */
  .btn.active {
    background-color: #3fb0ac;
     color: white;
  }

  h4 {
    display: flex;
    justify-content: center;
}

  .filterImg {
      border-radius: 8px;
}

.currentWeather .w-icon {
    width: 3rem!important;
    height: 3rem!important;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

  .contact { 
    float: left;
    width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px;
}

.form-container{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}

  .contact-button {
    display: block;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 10px; */
    width: 100%;
    text-align: center;
    color: white;
    background: #3fb0ac;
    border-radius: 60px;
    padding: 10px;
}

.contact-button:hover {
    background-color: #ddd;
}

.vert-align-center {
    align-self: center;
}

.message {
    color: #3fb0ac;
    padding-left: 50px;
}